.wrap {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  height: 100%;
}

.title {
  font-size: 2.5rem;
  font-family: 'Abril fatface';
  font-weight: bold;
  margin-bottom:20px;
  transition:0.5s;
}

.title:hover {
  font-size: 2.7rem;
  transition:0.5s;

}


.topnav {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  opacity: 0.5;
}

p {
  font-family: 'GothicA1-Light';
  font-weight: bold;
}

.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'GothicA1-Light';
  font-weight: bold;
  transition: 0.2s;
}

.topnav a:hover {
  background-color: rgb(114, 114, 114);
  color: rgb(255, 255, 255);
  transition: 0.2s;
}

img {
height:400px;
  transition: 0.5s;
  box-shadow: 5px 5px 15px gray;
}

img:hover {
  height:420px;
  transition: 0.5s;

}


@font-face {
  font-family: 'GothicA1-Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/GothicA1-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}