* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(234, 231, 227);
}

.wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h2 {
    font-family: 'Abril Fatface';
    font-size: 3.5rem;
    padding: 5px 0;
    margin-bottom: 10px;
    color: rgb(20, 129, 92);
    transition: 1s;
    /* text-shadow: 4px 4px 2px rgb(192, 192, 192); */
}

h2:hover {
    font-size: 4.2rem;
    transition: 1s;
}

b {
    color: rgb(188, 131, 168);
    font-size: 1.3rem;
}


h3 {
    font-family: 'GothicA1-Regular';
    color: gray;
}


.ment {
    font-size: 1.2rem;
    font-family: 'GothicA1-Regular';
    margin: 20px;
}

.ment2 {
    font-size: 1.3rem;
    font-family: 'GothicA1-Regular';
}

.sbox {
    background-color: rgba(255, 255, 255, 0.517);
    padding: 20px 20px;
    border-radius: 1000px;
}

.text {
    font-family: 'GothicA1-Regular';
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    line-height: 40px;
}

.Tbox {
    margin: 30px;
    width: auto;
}




.topnav {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    opacity: 0.5;
}

.topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'GothicA1-Regular';
    font-weight: bold;
    transition: 0.2s;
}

.topnav a:hover {
    background-color: rgb(225, 108, 173);
    color: rgb(255, 255, 255);
    transition: 0.2s;
}


@font-face {
    font-family: 'GothicA1-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/GothicA1-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}