* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(234, 231, 227);
}

.wrap {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h2 {
    font-family: 'Abril Fatface';
    font-size: 3.5rem;
    padding: 5px 0;
    margin-bottom: 10px;
    color: rgb(20, 129, 92);
    /* text-shadow: 4px 4px 2px rgb(192, 192, 192); */
}

b{
    color: rgb(188, 131, 168);
}


h3 {
    font-family:'GothicA1-Regular';
    color: gray;
}

.ment {
    font-size: 1.2rem;
    font-family: 'GothicA1-Regular';
    margin: 10px;
}

.ment2 {
    font-size: 1.3rem;
    font-family: 'GothicA1-Regular';
    margin: 10px;
}

.sbox {
    background-color: rgba(255, 255, 255, 0.681);
    padding: 20px 20px; 
    transition: 0.5s;
}

.sbox:hover {
    background-color: rgba(152, 183, 160, 0.647);
    transition: 0.5s;
}

.text {
    font-family: 'GothicA1-Regular';
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    line-height: 30px;
}

.Tbox {
    margin: 30px;
    width: auto;
}


    @font-face {
        font-family: 'GothicA1-Regular';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/GothicA1-Regular.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
    }