  .wrap {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width:70%;
    height: 100%;
  }

  .Title {
    font-size: 3rem;
    font-family: 'Abril fatface';
    font-weight: bold;
  }

  .text {
    padding-top: 20px;
    margin-bottom: 40px;
    text-align: right;
    font-family: 'GothicA1-Light';
    font-weight: bold;
  }

  .image {
    display: block;
    width: 400px;
    height: 100%;
  }

  .grid-image {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 30px 0;
  }

  .grid-image img {
    width: calc(33.333% - 10px);
    margin: 0 15px 15px 0;
    box-shadow: 5px 5px 15px gray;
  }

  img {
  transition:0.5s;

  }

 img:hover {
  transition:0.5s;
  box-shadow: 10px 10px 15px rgb(88, 88, 88);

  }


  .grid-image img:nth-of-type(3n),
  .grid-image img:last-child {
    margin-right: 0;
  }



  /* 메뉴바 */
  .topnav {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    opacity: 0.5;
  }

  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'GothicA1-Light';
    font-weight: bold;
    transition: 0.2s;
  }

  .topnav a:hover {
    background-color: rgb(225, 108, 173);
    color: rgb(255, 255, 255);
    transition: 0.2s;
  }

  /* 이미지 그리드 */
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }



  @media screen and (max-width:640px) {
    .grid-image img {
      width: calc(50% - 15px);
    }
  }

  @media screen and (max-width:480px) {
    .grid-image img:nth-of-type(2n) {
      margin-right: 0;
    }

    .grid-image img:nth-of-type(3n) {
      margin-right: 15px;
    }
  }

  @font-face {
    font-family: 'GothicA1-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/GothicA1-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
  }