* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-image: url('./images/22.png');
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;  
    box-sizing: border-box;
}

.wrap {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    height: 100%;
    
    margin-bottom: 30px;
}


.title {
    font-family: 'Abril Fatface';
    font-size: 4rem;
    font-weight: bold;
    margin-top:200px;
}

.box{
    width:100%;
    height:100%;
}

.tbox {
    background-color: rgba(243, 240, 230, 0.897);
    margin:25px;
    padding: 40px 40px;
    font-family: 'GothicA1-Light';
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 35px;
    transition:0.5s;
}

.tbox:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: 0.5s;
}


.smallt {
    font-size: 1.4rem;
    font-weight:bold;
    color: rgb(167, 85, 139);
    font-family: 'GothicA1-Light';
    margin-bottom:20px;
    text-shadow: 2px 2px 2px white;
}


.topnav {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    opacity: 0.5;
}

.topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'GothicA1-Light';
    font-weight: bold;
    transition: 0.2s;
}

.topnav a:hover {
    background-color: rgb(225, 108, 173);
    color: rgb(255, 255, 255);
    transition: 0.2s;
}

@font-face {
    font-family: 'GothicA1-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/GothicA1-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}