* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: rgb(253, 251, 240);
}

.wrap {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    height: 100%;
}

h2 {
    transition: 0.5s;
    font-size: 2.5rem;
    margin-top: 20px;
}
h2:hover {
    font-size: 3rem;
    transition: 0.5s;
}

.button {
    cursor: pointer;
    display: inline-block;
    color: #777777;
    font-family: 'GothicA1-Regular';
    font-size: 6rem;
    padding: 0px 0px;
    margin: 25px;

    background: radial-gradient(rgb(58, 86, 171), rgb(162, 162, 230),rgb(255, 255, 255));
    border-radius: 10000px;
    width: 100px;
    height: 100px;

    border: 0;
    outline: 0;

    -webkit-animation: blink 1s ease-in-out infinite alternate;
    -moz-animation: blink 1s ease-in-out infinite alternate;
    animation: blink 1s ease-in-out infinite alternate;
}

.smallt {
    font-family: 'Abril fatface';
    text-align: center;
    font-size: 1.5rem;
    color: rgb(118, 118, 196);
}

.text {
    font-family: 'GothicA1-Regular';
    font-size: 1.7rem;
    color: rgb(118, 118, 196);
}


.title {
    font-family: 'Abril Fatface';
    font-size: 3.8rem;
    font-weight: bold;
    margin-top:200px;
    transition: 0.7s;
}

.title:hover {
    color: rgb(188, 131, 168);
    transition: 0.7s;
    font-size: 4rem;
}

.how {
    font-size: 1rem;
    color: #797979;
    font-family: 'GothicA1-Regular';
}

b {
    color: rgb(118, 118, 196);
}

.smt {
    color: rgb(176, 176, 176);
    margin-top: 5px;
    font-size: 1.3rem;
    font-family: 'GothicA1-Regular';
}



.topnav {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    opacity: 0.5;
}

.topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'GothicA1-Regular';
    transition: 0.2s;
}

.topnav a:hover {
    background-color: rgb(126, 139, 212);
    color: rgb(255, 255, 255);
    transition: 0.2s;
}


@-webkit-keyframes blink {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}


@font-face {
    font-family: 'GothicA1-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/GothicA1-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}