* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(253, 251, 240);
}

.wrap {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 70%;
}

/* 텍스트 */
.title {
    font-family: 'Abril Fatface', cursive;
    font-size: 4rem;
    font-weight: bold;
    color: rgb(20, 129, 92);
    transition: 1s;
    margin-top: 90px;

    position: relative;
    animation: fadeInUp 2s;
}

.smalltitle {
    font-family: 'Abril fatface';
    text-align: center;
    font-size: 1.5rem;
    color: rgb(68, 110, 91);
    transition: 1s;

    position: relative;
    animation: fadeInUp 2s;
}

.big {
    font-size: 1.9rem;
    color: #252525;
}

.text {
    font-size: 1.5rem;
    font-family: 'GothicA1-Regular';
    margin: 30px;
    color: rgb(188, 131, 168);

    position: relative;
    animation: fadeInUp 1s;
}

b {
    color: rgb(188, 131, 168);
}

.mean {
    font-size: 1rem;
    color: rgb(189, 64, 154);
}

.tboxI {
    background-color: rgba(243, 240, 230, 0.87);
    margin: 25px;
    padding: 40px 40px;
    font-family: 'GothicA1-Light';
    font-size: 1.2rem;
    line-height: 35px;
    transition: 0.5s;
    text-align: left;

    position: relative;
    animation: fadeInUp 2s;
}

.tboxI:hover {
    background-color: rgba(255, 248, 238, 0.796);
    color: rgb(250, 236, 207);
    transition: 0.5s;
}


.button {
    box-shadow: inset 0px -1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color: #ffffff;
    border-radius: 42px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #e08fd4;
    font-family: Times New Roman;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 20px;
    margin: 10px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

.button:hover {
    background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    background-color: #f6f6f6;
}

.button:active {
    position: relative;
    top: 1px;
}



@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

.smt {
    color: rgb(59, 59, 59);
    font-size: 1.3rem;
    font-family: 'GothicA1-Regular';
}

/* 메뉴 바 */

.topnav {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    opacity: 0.5;
}

.topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'GothicA1-Regular';
    font-weight: bold;
    transition: 0.2s;
}

.topnav a:hover {
    background-color: rgb(225, 108, 173);
    color: rgb(255, 255, 255);
    transition: 0.2s;
}

@font-face {
    font-family: 'GothicA1-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/GothicA1-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}