* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(239, 239, 226);
    background-image: url('./images/opa.png');
}

.wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* 텍스트 */
.title {
    font-family: 'Abril Fatface', cursive;
    font-size: 4.5rem;
    padding-bottom: 15px;
    font-weight: bold;
    color: rgb(20, 129, 92);
    margin: 0px;
    transition: 1s;
}

.title:hover {
    color: rgb(0, 0, 0);
    transition: 1s;
}

.smallt {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(188, 131, 168);
    font-family: 'GothicA1-Light';
}

.smalltK {
    margin-top: 15px;
    font-size: 1.3rem;
    font-weight: bold;
    color: rgb(106, 106, 106);
    font-family: 'GothicA1-Light';
}



/* 메뉴 바 */

.right {
    float: right;
}

.topnav {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    opacity: 0.5;
}

.topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'GothicA1-Light';
    font-weight: bold;
    transition: 0.2s;
}

.topnav a:hover {
    background-color: rgb(225, 108, 173);
    color: rgb(255, 255, 255);
    transition: 0.2s;
}


@font-face {
    font-family: 'GothicA1-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/GothicA1-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}