* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(239, 239, 226);
}

.wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.title {
    font-family: 'Abril Fatface', cursive;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin: 0px;
    padding-top: 15px;
    text-align: center;
    transition: 0.7s;
}

.title:hover {
    color: rgb(82, 82, 159);
    transition: 0.7s;
    font-size: 3.4rem;
}

/* made by */
.smallt {
    font-family: 'Abril fatface';
    text-align: center;
    font-size: 1.5rem;
    color: rgb(201, 151, 159);
    /* margin-bottom: 20px;// */
    margin: 5px;
    line-height: 25px;
}

.hi {
    transition: 0.2s;
}

.hi:hover {
    color: palevioletred;
    transition: 0.2s;
    font-size: 1.7rem;
}

.text {
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(188, 131, 168);
    font-family: 'GothicA1-Light';
}

.smt {
    color: rgb(176, 176, 176);
    margin-top: 5px;
    font-size: 1.3rem;
}

.q {
    display: inline-block;
    color: #777777;
    font-family: 'GothicA1-Regular';
    font-size: 6rem;
    font-weight: bold;
    padding: 6px 24px;
    margin-top: 20px;

    background: radial-gradient(rgb(181, 93, 93), rgb(217, 247, 223));

    border-radius: 10000px;
    width: 100px;
    height: 100px;

    -webkit-animation: blink 1s ease-in-out infinite alternate;
    -moz-animation: blink 1s ease-in-out infinite alternate;
    animation: blink 1s ease-in-out infinite alternate;
}

h2 {
    transition: 0.5s;
}
h2:hover {
    font-size: 3rem;
    transition: 0.5s;
}

@-webkit-keyframes blink {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.q:hover {}





.q:hover {}

.q:active {}



.right {
    float: right;
}

.topnav {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    opacity: 0.5;
}

.topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'GothicA1-Light';
    font-weight: bold;
    transition: 0.2s;
}

.topnav a:hover {
    background-color: rgb(225, 108, 173);
    color: rgb(255, 255, 255);
    transition: 0.2s;
}

@font-face {
    font-family: 'GothicA1-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/GothicA1-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}