* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url('./images/eacbe5a3960f56a127768c7fc606ad35.jpg');
    /* color: aliceblue; */
    /* background-color: radial-gradient( yellow, red, brown ); */
}

.wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    margin-bottom: 30px;
}

/* 텍스트 */


.hi {
    transition: 0.2s;
}

.hi:hover {
    color: palevioletred;
    transition: 0.2s;
    font-size: 2rem;
}

.im {
    transition: 0.2s;
}

.im:hover {
    color: palevioletred;
    transition: 0.2s;
}

.immy {
    transition: 0.2s;
}

.immy:hover {
    color: rgb(20, 94, 20);
    transition: 0.2s;
}

/* 박스 */
/* 
.box{
    width:100%;
    height:100%;
} */

.tbox {
    background-color: rgb(255, 255, 255);
    margin: 25px;
    padding: 40px 40px;
    font-family: 'GothicA1-Regular';
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 35px;
    transition: 0.5s;
}

.tbox:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: 0.5s;
}

@font-face {
    font-family: 'GothicA1-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/GothicA1-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}