* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./images/opa.png');
    background-attachment: fixed;
}

.wrap {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    margin-bottom: 30px;
}

.title {
    font-family: 'Abril Fatface', cursive;
    font-size: 3rem;
    color: rgb(0, 0, 0);
    margin: 0px;
    padding-top: 15px;
    text-align: center;
    transition: 0.7s;
}

.title:hover {
    color: rgb(82, 82, 159);
    transition: 0.7s;
    font-size: 3.4rem;
}

/* made by */
.smallt {
    font-family: 'Abril fatface';
    text-align: center;
    font-size: 1.5rem;
    color: rgb(201, 151, 159);
    /* margin-bottom: 20px;// */
    margin: 5px;
    line-height: 25px;
}

.hi {
    transition: 0.2s;
}

.hi:hover {
    color: palevioletred;
    transition: 0.2s;
    font-size: 1.7rem;
}

/* 텍스트 */


.im {
    transition: 0.2s;
}

.im:hover {
    color: rgb(82, 87, 183);
    transition: 0.2s;
}

.immy {
    transition: 0.2s;
    color: rgb(188, 92, 161);
}

/* 박스 */
/* 
.box{
    width:100%;
    height:100%;
} */

.tbox {
    background-color: rgba(255, 255, 255, 0.676);
    margin: 25px;
    padding: 40px 40px;
    font-family: 'GothicA1-Regular';
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 35px;
    transition: 0.5s;
}

.tbox:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: 0.5s;
}


.topnav {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    opacity: 0.5;
}

.topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'GothicA1-Regular';
    transition: 0.2s;
}

.topnav a:hover {
    background-color: rgb(225, 108, 173);
    color: rgb(255, 255, 255);
    transition: 0.2s;
}


@font-face {
    font-family: 'GothicA1-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/GothicA1-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}