* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url('./images/eacbe5a3960f56a127768c7fc606ad35.jpg');
    /* color: aliceblue; */
    /* background-color: radial-gradient( yellow, red, brown ); */
}

.wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    margin-bottom: 30px;
}


.q {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    background-color: #ededed;
    border-radius: 300px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #777777;
    font-family: 'GothicA1-Regular';
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    margin-top: 30px;
    /* text-decoration:none; */
    text-shadow: 0px 1px 0px #ffffff;
    margin: auto;
    display: block;
    width: 50px;

    border: none;
    border-right: 0px;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
}

.q:hover {
    background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    background-color: #dfdfdf;

}

.q:active {
    position: relative;
    top: 1px;
}



/* 텍스트 */
.title {
    font-family: 'Abril Fatface', cursive;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin: 0px;
    padding-top: 15px;
    text-align: center;
    transition: 0.7s;
}

.title:hover {
    color: rgb(82, 82, 159);
    transition: 0.7s;
}

.smallt {
    font-family: 'Abril fatface';
    text-align: center;
    font-size: 1.7rem;
    color: rgb(201, 151, 159);
    margin-bottom: 20px;
    margin-top: 5px;
}

.hi {
    transition: 0.2s;
}

.hi:hover {
    color: palevioletred;
    transition: 0.2s;
    font-size: 2rem;
}

.im {
    transition: 0.2s;
}

.im:hover {
    color: palevioletred;
    transition: 0.2s;
}

.immy {
    transition: 0.2s;
}

.immy:hover {
    color: rgb(20, 94, 20);
    transition: 0.2s;
}

/* 박스 */
/* 
.box{
    width:100%;
    height:100%;
} */

.tbox {
    background-color: rgb(255, 255, 255);
    margin: 25px;
    padding: 40px 40px;
    font-family: 'GothicA1-Regular';
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 35px;
    transition: 0.5s;
}

.tbox:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: 0.5s;
}

@font-face {
    font-family: 'GothicA1-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/GothicA1-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}